
<!DOCTYPE html>
<div class="container">
  <md-tab-group >
    <md-tab label="Form">
      <form class="example-form" #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)">
        <md-form-field class="form-s">
          <input  placeholder="Id"  mdInput [(ngModel)]="model.id" name="Id" id="Id" #Id="ngModel" #spy  disabled>
        </md-form-field><br>
        <md-form-field class="form-s">
          <input   mdInput  placeholder="Name"  mdInput [(ngModel)]="model.name" name="name" required id="name" #name1="ngModel" #spy >
          <md-error *ngIf="name1.invalid">
            Name is <strong>required</strong>
          </md-error>
        </md-form-field><br>


        <md-form-field class="form-s">
          <input type="text" placeholder="Department" id = "dept1"  mdInput [(ngModel)]="model.department"
                   [mdAutocomplete]="auto1" name="dept" #Dept = "ngModel" mdInput  (ngModelChange)="tdDept=filteredValues(model.department)" >
           <input mdInput placeholder="Department" [mdAutocomplete]="auto1" name="dept"
                  #Dept="ngModel" [(ngModel)]="model.department"
                  (ngModelChange)="tdDept = filteredValues(model.department)">
         <md-autocomplete #auto1="mdAutocomplete">
           <md-option *ngFor="let dep of tdDept" [value]="dep" >
             {{ dep }}
           </md-option>
         </md-autocomplete>
        </md-form-field> <br>


        <md-select  placeholder="Nationality" name="nationality" id="1nationality" #nationality1="ngModel" [(ngModel)]="model.nationality"  class="form-s">
          <md-option  *ngFor="let nation of nationality" [value]="nation" >
            {{ nation }}
          </md-option>
        </md-select> <br><br>

        <md-form-field class="form-s">
          <textarea mdInput placeholder="Comments" [(ngModel)]="model.comments" name="comments"  id="1comments" #comments1="ngModel" ></textarea>
        </md-form-field>
        <br>

        <md-checkbox  id="1managmentSkill" [(ngModel)]="model.managmentSkill" name="managmentSkill" #management1="ngModel" >Management</md-checkbox>
        <md-checkbox  id="1programmingSkill" [(ngModel)]="model.programmingSkill" name="programmingSkill" #programming1="ngModel">Programming</md-checkbox><br><br>



        <md-input-container class="form-s">
          <input mdInput  [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.dob" name="dob" #DOB="ngModel">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        </md-input-container>
        <md-datepicker #picker></md-datepicker><br>


        <button [disabled]="!heroForm.form.valid" md-raised-button class="button">Submit</button>
        <button md-raised-button class="button" (click)="newEmployee();heroForm.reset()">New</button>

      </form>
    </md-tab>
    <md-tab label="Result">
      <md-slide-toggle>Slide me!</md-slide-toggle><br>
      <span mdTooltip="Tooltip!" mdTooltipPosition="left">I have a tooltip</span><br>
      <md-spinner></md-spinner><br>
      <md-slider></md-slider><br>
      {{submitted}}<br>{{diagnostic}}<br>
    </md-tab>
    <md-tab label="Records" style="height: 70%">


      <div class="mat-elevation-z8" style="width: 50%; padding-top: 1%">
        <md-table #table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container mdColumnDef="position">
            <md-header-cell *mdHeaderCellDef> No. </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.position}} </md-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container mdColumnDef="weight">
            <md-header-cell *mdHeaderCellDef> Weight </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.weight}} </md-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container mdColumnDef="symbol">
            <md-header-cell *mdHeaderCellDef> Symbol </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.symbol}} </md-cell>
          </ng-container>

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </div>
    </md-tab>
  </md-tab-group>


</div>
<!--<div class="container">
  <h1>Hero Form</h1>
  <form >
    &lt;!&ndash;<div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <label [hidden]="name.valid || name.pristine">
        Name is required
      </label>
    </div>&ndash;&gt;
    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
      TODO: remove this: {{model.alterEgo}}
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label><br>
      &lt;!&ndash;<input type="checkbox" id="a" [(ngModel)]="model.a" name="a">a&ndash;&gt;
      &lt;!&ndash;<input type="checkbox" id="b" [(ngModel)]="model.b" name="b">b&ndash;&gt;
      <input type="checkbox" id="c" [(ngModel)]="model.c" name="c">c
      <input type="checkbox" id="d" [(ngModel)]="model.d" name="d">d
    </div>

  &lt;!&ndash;  <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required  [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
      TODO: remove this: {{model.power}}
   </div>&ndash;&gt;



    <button type="submit" class="mat-elevation-z6" style="background-color: aquamarine">I'm a button</button>

  </form>

</div>-->



