<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>
<md-form-field>
  <input mdInput value="Disco party!" placeholder="Message" #message>
</md-form-field>

<md-form-field>
  <input mdInput value="Dance" placeholder="Action" #action>
</md-form-field>

<button md-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
Hi Item
<div class="mat-elevation-z8" style="width: 50%; padding-top: 1%">
  <md-table #table [dataSource]="dataSourceHero">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> No. </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.id}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
    </ng-container>


    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
</body>
</html>
